@import "bootstrap-sprockets"
@import "bootstrap"
.portfolio-item
  margin-bottom: 25px
  .title,.cost
    text-align: center

.thumbnail
  padding: 10px
  img
    width: 50%
  .caption-full
    padding: 9px
    color: #333
.position
  margin-top: 15%
  width: 40%
.center
  margin-top: 4%
  margin-left: 45%
